<h5>Mensajes</h5>

<hr>
<div class="app-mensajes">
    
    <div class="text-right">
        <span class=" badge badge-primary ">Andrés</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>

    <div class="text-left">
        <span class=" badge badge-success ">Cristina</span>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    </div>

</div>
<hr>
<input type="text" 
        class="form-control"
        [(ngModel)]="mensaje"
        (keyup.enter)="enviarMensaje()">
